@import "../../../style-variables.scss";
.products-page-wrapper {
  height: 100%;
  display: flex;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
}
.product-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.product-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  border: 1px solid #e9e9e9;
  padding: 5px;
  cursor: pointer;
  .product-image {
    width: 238px;
    height: 200px;
    object-fit: contain;
  }
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    padding: 10px 20px;
    .product-name {
      font-size: 16px;
    }
    .product-price {
      font-size: 24px;
      font-weight: 500;
    }
  }
}
custom-paginator {
  ::ng-deep mat-paginator {
    width: 100%;
    color: $color-background;
    background-color: #e9e9e9;
    ::ng-deep.mat-paginator-container {
      justify-content: center;
      .mat-button-disabled {
        color: gray;
      }
    }
    margin-top: auto;
  }
}

