<div class="products-page-wrapper">
  <app-sidebar></app-sidebar>
  <div class="products-wrapper">
    <div class="product-cards">
      <div *ngFor="let product of productService.products" class="product-card" (click)="selectProduct(product)">
        <img src="{{product.imageUrl}}" alt="{{product.name}}" class="product-image">
        <div class="product-info">
          <span class="product-name">{{product.name}}</span>
          <span class="product-price">{{product.price}}$</span>
        </div>
      </div>
    </div>
    <custom-paginator *ngIf="productService.products"
                      [length]="filterService.filters.itemsPerPage * productService.products[0].pagesTotal"
                      [pageSize]="filterService.filters.itemsPerPage" [pageIndex]="filterService.filters.pageNumber - 1" (page)="changePage($event)"></custom-paginator>
  </div>
</div>
